<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charset="utf-8">
    <title>システム英単語勉強サイト</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <p>システム英単語勉強サイト</p>
        </div>
        <div class="header-right">
          <a href="/other">ログイン</a>
        </div>
      </div>
    </header>
    <main>
      <div class="main">
        <div class="chapter1">
            <h2>第1章 Basic Stage (1~600)</h2>
            <div class="chapter1-links">
                <a href="/chapter1Verbs">Verbs 動詞</a>
                <a href="/chapter1-Nouns">Nouns 名詞</a>
                <a href="/chapter1-Adjectives">Adjectives & Adverbs ; etc 形容詞副詞</a>
            </div>
        </div>
        <div class="chapter2">
            <h2>第2章 Essential Stage (601~1200)</h2>
            <div class="chapter2-links">
                <a href="/chapter2-Verbs">Verbs 動詞</a>
                <a href="/chapter2-Nouns">Nouns 名詞</a>
                <a href="/chapter2-Adjectives">Adjectives & Adverbs ; etc 形容詞副詞</a>
            </div>
        </div>
        <div class="chapter3">
            <h2>第3章 Advanced Stage (1201~1685)</h2>
            <div class="chapter3-links">
                <a href="/chapter3-Verbs">Verbs 動詞</a>
                <a href="/chapter3-Nouns">Nouns 名詞</a>
                <a href="/chapter3-Adjectives">Adjectives & Adverbs ; etc 形容詞副詞</a>
            </div>
        </div>
        <div class="chapter4">
            <h2>第4章 Final Stage (1686~2021)</h2>
            <div class="chapter4-links">
                <a href="/chapter4-Verbs">Verbs 動詞</a>
                <a href="/chapter4-Nouns">Nouns 名詞</a>
                <a href="/chapter4-Adjectives">Adjectives & Adverbs ; etc 形容詞副詞</a>
            </div>
        </div>
      </div>
      <p><%=content %></p>
      <form method="post" action="/other">
          <p>
              <input type="text" name="msg">
              <input type="submit" value="Click">
          </p>
      </form>
    </main>
    <footer>
      <div class="footer">

      </div>
    </footer>
  </body>
</html>
